#seta_voltar:hover{
    cursor: pointer;
    background-color: #404040;
    position: relative;
    bottom: 1px;
    box-shadow: -2px 2px black;
}

#seta_voltar:active{
    cursor: pointer;
    background-color: #202020;
    position: relative;
    bottom: 3px;
    box-shadow: -3px 4px black;
}

#seta_seguir:hover{
    cursor: pointer;
    background-color: #404040;
    position: relative;
    bottom: 1px;
    box-shadow: -2px 2px black;
}

#seta_seguir:active{
    cursor: pointer;
    background-color: #202020;
    position: relative;
    bottom: 3px;
    box-shadow: -3px 4px black;
}

#init_teste{
    width: 100px;
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #56AC8A;
    outline: none;
    margin: 10px;
    padding: 6px;
    border: 1px solid #707070;
    border-radius: 10px;
}

#init_teste:hover{
    background-color: #408066;
    cursor: pointer;
    position: relative;
    bottom: 1px;
    box-shadow: -1px 1px gray;
}

#init_teste:active{
    background-color: #326350;
    cursor: pointer;
    position: relative;
    bottom: 1px;
    box-shadow: -1.5px 1.5px gray;
}

#submit{
    width: 100px;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
    background-color: #56AC8A;
    outline: none;
    margin-top: 5px;
    padding: 4px;
    border: 1px solid #707070;
    border-radius: 10px;
}

#submit:hover{
    background-color: #408066;
    cursor: pointer;
    position: relative;
    bottom: 1px;
    box-shadow: -1px 1px gray;
}

#submit:active{
    background-color: #326350;
    cursor: pointer;
    position: relative;
    bottom: 1px;
    box-shadow: -1.5px 1.5px gray;
}

