/* Variáveis */
:root{
    --primary: #FFC636;
    --secondary: #163840;
    --nav: #150B59;
    --cinza: #1D1D1D;
}

/* Base */
body{
    overflow-x: hidden;
}

body,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

li{
    list-style-type: none;
}

p,a,li,span{
  font-size: 1em;
}

h1, h3{
  font-size: 1.2em;
}

h2{
  font-size: 1.6em;
}

h4{
  font-size: 1.1em;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    box-sizing: border-box;
  }

/* Mobile */

nav{
    width: 100%;
    height: 35px;
    background-color: #150B59;
}

.anunciado{
    background-color: gainsboro;
    padding: 5px;
}

#carrossel_container{
   width: 100%;
   height: 360px;
   background-color: rebeccapurple;
   display: flex;
}
#carrossel_container > div:nth-child(1){
   border-right: 1px solid #707070;
}
#carrossel_container > div:nth-child(1) > img{
   width: 50px;
   transform: rotate(90deg)
}
#carrossel_container > div:nth-child(3){
   border-left: 1px solid #707070;
}
#carrossel_container > div:nth-child(3) > img{
   width: 50px;
   transform: rotate(-90deg)
}

.seta{
   width: 5%;
   height: 100%;
   padding: 0px 5px 0px 5px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.seta img{
   width: 50px;
   transform: rotate(-90deg)
}

#container_pergunta{
   overflow-x: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.pergunta{
   background-color: chocolate;
   display: flex;
   flex-direction: column;
   margin: 10px;
   height: 320px;
   width: 280px;
   border: 1px solid #707070;
   border-radius: 5px;
}
.conteudo{
   color: white;
   border-right: none;
   height: 60%;
   border-bottom: 1px solid red;
   padding: 10px;


}
.resposta{
   width: 100%;
   height: 40%;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.resposta > form > input{
   width: 40px;
   height: 40px;
   border-radius: 50%;
}


